.cost-on-earth {
  background-image: url("../assets/images/power-doesnt-cost-earth.png");
}

.cost-on-earth-text {
  display: flex;
  flex-direction: column;
  width: 42vw;
  margin-left: 150px;
  gap: 32px;
}

.cost-on-earth-title {
  font-weight: 600;
  font-size: 42px;
}

.cost-on-earth-subtitle {
  font-weight: 500;
  font-size: 20px;
}