
.friendliest-installers {
  position: relative;
  display: flex;
  margin: 80px 152px;
  justify-content: space-between;
}

.friendliest-installers-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width:45%;
}

.friendliest-installers-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friendliest-installers-title {
  color: #101828;
  font-weight: 600;
  font-size: 42px;
}

.friendliest-installers-subtitle {
  color: #475467;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.friendliest-installers-points {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.friendliest-installers-point-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.friendliest-installers-point {
  color: #101828;
  font-weight: 600;
  font-size: 20px;
}

.friendliest-installers-label {
  color: #84BD3A;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 4px;
}

.friendliest-installers-images {
  position: relative;
  display: flex;
  justify-content: right;
}

.solar-charging-image {
  width: 90px;
  height: 90px;
}

.solar-charging-text {
  color: #2A3334;
}

.friendliest-installers-layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 14px -100px;
  background-color: #FFBB1C;
  border-radius: 12px;
  width: 206px;
  gap:28px;
  padding: 24px 30px;
}