.friendliest-installers {
  position: relative;
  display: flex;
  margin: 50px 50px;
  justify-content: space-between;
}

.friendliest-installers-text {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.friendliest-installers-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.friendliest-installers-title {
  color: #101828;
  font-weight: 600;
  font-size: 25px;
}

.friendliest-installers-subtitle {
  color: #475467;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.friendliest-installers-points {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.friendliest-installers-point-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.friendliest-installers-point {
  color: #101828;
  font-weight: 600;
  font-size: 14px;
}

.friendliest-installers-label {
  color: #84BD3A;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 4px;
}

.friendliest-installers-images {
  display: none;
}

@media (min-width: 1440px) {
  .friendliest-installers {
    margin: 80px 100px;
  }
  
  .friendliest-installers-text {
    width:45%;
  }
  
  .friendliest-installers-title {
    font-size: 42px;
  }
  
  .friendliest-installers-subtitle {
    font-size: 16px;
    line-height: 24px;
  }
  
  .friendliest-installers-point {
    font-size: 20px;
  }
  
  .friendliest-installers-label {
    font-size: 20px;
  }
  
  .friendliest-installers-images {
    position: relative;
    display: flex;
    justify-content: right;
  }
  
  .solar-charging-image {
    width: 80px;
    height: 80px;
  }
  
  .solar-charging-text {
    color: #2A3334;
  }
  
  .friendliest-installers-layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 14px -100px;
    background-color: #FFBB1C;
    border-radius: 12px;
    width: 45%;
    gap:28px;
    padding: 24px 30px;
  }
}

@media (min-width: 2560px) {
  .friendliest-installers-title {
    font-size: 60px;
  }
  
  .friendliest-installers-subtitle {
    font-size: 25px;
    line-height: 35x;
  }
}