body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.small-panel {
  background-size: cover;
  background-position: right;
  height: 70vh;
  display: flex;
  align-items: center;
}

.button {
  font-size: 10px;
  border-radius: 109px;
  border-style: hidden;
  padding: 12px 34px 12px 34px;
  letter-spacing: 1.8px;
}

.button.green {
  background-color: #3cab90;
  color: #ffffff;
}

.button.yellow {
  background-color: #ffbb1c;
  color: #2A3334;
}

.view-card {
  display: flex;
  gap: 10px;
  color: #3cab90;
  font-weight: 600;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .button {
    font-size: 14px;
  }
}

@media (min-width: 2560px) {
  .button {
    font-size: 30px;
  }
}