.what-they-say {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 50px;
}

.what-they-say-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: baseline;
}

.what-they-say-icon {
  height: 48px;
}

.what-they-say-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 64px;
  color: #1C1C1C;
}

.what-they-say-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #1C1C1C;
}

.what-they-say-card {
  background-color: #3CAB900F;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  border-radius: 24px;
}

.what-they-say-card-upper {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.what-they-say-card-upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.what-they-say-card-upper-title {
  font-weight: 700;
  font-size: 14px;
  color: #3CAB90;
}

.what-they-say-card-comment {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.what-they-say-card-lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.what-they-say-card-lower-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
}

.what-they-say-card-lower-user-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #1C1C1C;
}

.what-they-say-card-lower-user-name {
  font-weight: 700;
  font-size: 16px;
}

.what-they-say-card-lower-user-job {
  font-weight: 400;
  font-size: 16px;
}

@media (min-width: 1440px) {
  .what-they-say {
    flex-direction: row;
    padding: 80px 150px;
  }
  
  .what-they-say-title {
    font-size: 48px;
  }
  
  .what-they-say-subtitle {
    font-size: 18px;
  }
  
  .what-they-say-card {
    gap: 87px;
    padding: 40px;
  }
  
  .what-they-say-card-upper-title {
    font-size: 16px;
  }
  
  .what-they-say-card-comment {
    font-size: 24px;
    width: 70%;
  }

  .what-they-say-card-lower {
    flex-direction: row;
  }

  .what-they-say-card-lower-user {
    text-align: start;
    flex-direction: row;
    gap: 8px;
  }
}

@media (min-width: 2560px) {
  .what-they-say-title {
    font-size: 60px;
  }
  
  .what-they-say-subtitle {
    font-size: 30px;
  }

  .what-they-say-card-comment {
    font-size: 40px;
    width: 100%;
  }
}